<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="ZaapURL" value="http://10.10.5.149/Zaap/Zaap_SITE/" />
    <add key="VcomCobURL" value="http://10.10.5.149/VCOMCob/VCOMCob_Site3" />
    <add key="VcomCalcSistemasURL" value="http://10.10.5.149/VcomCalc/sistema" />
    <add key="VcomCalcURL" value="http://10.10.5.149/VcomCalc/1/1000/93677" />
    <add key="CobWebURL" value="http://10.10.5.149/Cob3Web31/Login/Login.aspx" />
    <add key="CobWeCobrançabURL" value="http://10.10.5.149/Cob3Web31/Sessao/Sessao.aspx" />
    <add key="AplicacaoDeSequenciaURL" value="http://10.10.5.149/VCOMCob/VCOMCob_Site3/AplicacaoDeSequenciaFiltros/Index" />
  </appSettings>
</configuration>